<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="camera1" value="3423854"/>
    <add key="camera2" value="6773694"/>
    <add key="camera3" value="6709584"/>
    <add key="camera4" value="6700010"/>
    <add key="camera5" value="3582821"/>
    <add key="camera6" value="6701948"/>
  </appSettings>
</configuration>